<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog autoReload="true">
    <variable name="LineID" value="线路前处理压膜机1号" />
    <targets async="true">
      <default-wrapper type="AsyncWrapper" queueLimit="50000" overflowAction="Block">
        <wrapper type="RetryingWrapper" />
      </default-wrapper>
      <!--使用方式詳見  https://github.com/nlog/nlog/wiki/Layout-Renderers -->
      <!--使用方式詳見 https://dotblogs.com.tw/stanley14/2017/02/15/nlog -->
      <target name="CoreTraceMessage" type="File" deleteOldFileOnStartup="false" layout="${longdate}|${level}|${threadid}|${logger}|${message}" fileName="d:/Log/EAP/${LineID}/${date:format=yyyyMMdd}/Core/${date:format=HH}.txt" archiveFileName="d:/Log/EAP/${LineID}/${date:format=yyyyMMdd}/Core/${date:format=HH}.{#####}.txt" archiveAboveSize="10485760" archiveNumbering="Sequence" MaxArchiveFiles="99999" concurrentWrites="true" keepFileOpen="false" encoding="utf-8" />
      <target name="CoreErrorMessage" type="File" deleteOldFileOnStartup="false" layout="${longdate}|${level}|${threadid}|${logger}|${message}|${stacktrace:format=DetailedFlat}" fileName="d:/Log/EAP/${LineID}/${date:format=yyyyMMdd}/Core/${date:format=HH}_Error.txt" archiveFileName="d:/Log/EAP/${LineID}/${date:format=yyyyMMdd}/Core/${date:format=HH}_Error.{#####}.txt" archiveAboveSize="10485760" archiveNumbering="Sequence" MaxArchiveFiles="99999" concurrentWrites="true" keepFileOpen="false" encoding="utf-8" />
      <target name="MQTraceService" type="File" deleteOldFileOnStartup="false" layout="${longdate}|${level}|${threadid}|${logger}|${message}" fileName="d:/Log/EAP/${LineID}/${date:format=yyyyMMdd}/MQ/${date:format=HH}.txt" archiveFileName="d:/Log/EAP/${LineID}/${date:format=yyyyMMdd}/MQ/${date:format=HH}.{#####}.txt" archiveAboveSize="10485760" archiveNumbering="Sequence" MaxArchiveFiles="99999" concurrentWrites="true" keepFileOpen="false" encoding="utf-8" />
      <target name="MQErrorService" type="File" deleteOldFileOnStartup="false" layout="${longdate}|${level}|${threadid}|${logger}|${message}|${stacktrace:format=DetailedFlat}" fileName="d:/Log/EAP/${LineID}/${date:format=yyyyMMdd}/MQ/${date:format=HH}_Error.txt" archiveFileName="d:/Log/EAP/${LineID}/${date:format=yyyyMMdd}/MQ/${date:format=HH}_Error.{#####}.txt" archiveAboveSize="10485760" archiveNumbering="Sequence" MaxArchiveFiles="99999" concurrentWrites="true" keepFileOpen="false" encoding="utf-8" />

      <target name="PerFormance" type="File" deleteOldFileOnStartup="false" layout="${longdate}|${level}|${threadid}|${logger}|${message}" fileName="d:/Log/EAP/${LineID}/${date:format=yyyyMMdd}/PerFormance/${date:format=HH}.txt" archiveFileName="d:/Log/EAP/${LineID}/${date:format=yyyyMMdd}/PerFormance/${date:format=HH}.{#####}.txt" archiveAboveSize="10485760" archiveNumbering="Sequence" MaxArchiveFiles="99999" concurrentWrites="true" keepFileOpen="false" encoding="utf-8" />
      <target name="EAPTraceMessage" type="File" deleteOldFileOnStartup="false" layout="${longdate}|${level}|${threadid}|${logger}|${message}" fileName="d:/Log/EAP/${LineID}/${date:format=yyyyMMdd}/Business/${date:format=HH}_Trace.txt" archiveFileName="d:/Log/EAP/${LineID}/${date:format=yyyyMMdd}/Business/${date:format=HH}_Trace.{#####}.txt" archiveAboveSize="10485760" archiveNumbering="Sequence" MaxArchiveFiles="99999" concurrentWrites="true" keepFileOpen="false" encoding="utf-8" />
      <target name="EAPInfoMessage" type="File" deleteOldFileOnStartup="false" layout="${longdate}|${level}|${threadid}|${logger}|${message}" fileName="d:/Log/EAP/${LineID}/${date:format=yyyyMMdd}/Business/${date:format=HH}_Info.txt" archiveFileName="d:/Log/EAP/${LineID}/${date:format=yyyyMMdd}/Business/${date:format=HH}_Info.{#####}.txt" archiveAboveSize="10485760" archiveNumbering="Sequence" MaxArchiveFiles="99999" concurrentWrites="true" keepFileOpen="false" encoding="utf-8" />
      <target name="EAPErrorMessage" type="File" deleteOldFileOnStartup="false" layout="${longdate}|${level}|${threadid}|${logger}|${message}|${stacktrace:format=DetailedFlat}" fileName="d:/Log/EAP/${LineID}/${date:format=yyyyMMdd}/Business/${date:format=HH}_Error.txt" archiveFileName="d:/Log/EAP/${LineID}/${date:format=yyyyMMdd}/Business/${date:format=HH}_Error.{#####}.txt" archiveAboveSize="10485760" archiveNumbering="Sequence" MaxArchiveFiles="99999" concurrentWrites="true" keepFileOpen="false" encoding="utf-8" />
    </targets>
    <rules>
      <!-- Name : Log記錄目錄名稱, 當無指定時使用預設值 * -->
      <!-- Minlevel : Log記錄等級(Trace->Debug->Info->Warn->Error->Fatal) -->
      <!-- writeTo : 對應至targets中項目的設定值-->
      <!-- 底層目前已有分類 (Pipe / TransactionEvent / RegisterEvent / CacheCall / Backup / Serialize /) -->
      <!-- Brick 目錄名為 Recognition Name -->
      <logger name="TransactionEvent" levels="Info" writeTo="CoreTraceMessage" final="false" />
      <logger name="TransactionEvent" levels="Warn,Error,Fatal" writeTo="CoreErrorMessage" final="true" />
      <logger name="RegisterEvent" levels="" writeTo="CoreTraceMessage" final="false" />
      <logger name="RegisterEvent" levels="Warn,Error,Fatal" writeTo="CoreErrorMessage" final="true" />
      <logger name="CacheCall" levels="" writeTo="CoreTraceMessage" final="false" />
      <logger name="CacheCall" levels="Warn,Error,Fatal" writeTo="CoreErrorMessage" final="true" />
      <logger name="Backup" levels="Info" writeTo="CoreTraceMessage" final="false" />
      <logger name="Backup" levels="Warn,Error,Fatal" writeTo="CoreErrorMessage" final="true" />
      <logger name="Serialize" levels="Info" writeTo="CoreTraceMessage" final="false" />
      <logger name="Serialize" levels="Warn,Error,Fatal" writeTo="CoreErrorMessage" final="true" />
      <logger name="DB" levels="Info" writeTo="CoreTraceMessage" final="false" />
      <logger name="DB" levels="Warn,Error,Fatal" writeTo="CoreErrorMessage" final="true" />
      <logger name="LOG" levels="Info" writeTo="CoreTraceMessage" final="false" />
      <logger name="LOG" levels="Warn,Error,Fatal" writeTo="CoreErrorMessage" final="true" />
      <logger name="Pipe" levels="Info" writeTo="CoreTraceMessage" final="false" />
      <logger name="Pipe" levels="Warn,Error,Fatal" writeTo="CoreErrorMessage" final="true" />
      <logger name="RBMQService" levels="Info,Trace" writeTo="MQTraceService" final="false" />
      <logger name="RBMQService" levels="Warn,Error,Fatal" writeTo="MQErrorService" final="true" />
      <logger name="PerFormance" levels="Info" writeTo="PerFormance" final="false" />
      <logger name="EAPTrace" levels="Trace" writeTo="EAPTraceMessage" final="false" />
      <logger name="EAPTrace" levels="Warn,Info" writeTo="EAPInfoMessage" final="false" />
      <logger name="EAPTrace" levels="Error,Fatal" writeTo="EAPErrorMessage" final="true" />
    </rules>
  </nlog>
  <appSettings>
    <!-- Language的值只能是Chinese（中文），English（英文） -->
    <add key="Language" value="English"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <probing privatePath="BaseDll;ClassLib"/>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
